<h1><%= @edition.title %></h1>
<h2><%= @edition.subtitle %></h2>
<%= t('editions.edited_by_long', username: @edition.user.username) %>

<ol type="I">
  <% @edition.books.each do |book| %>
    <li><%= link_to book.title, edition_book_path(@edition, book.position) %></li>
  <% end %>
</ol>