
<div class="text-center mb-5">
  <h1><%= @edition.title %></h1>
  <h4 class="mb-4"><%= @edition.subtitle %></h4>
  <%= t('editions.edited_by', username: @edition.user.username) %>
</div>

<div class="table-of-contents mb-5">
  <ol type="I" class="contents-list">
    <% @edition.books.each do |book| %>
      <h5><li><%= link_to book.title, edition_book_path(@edition, book.position), class: 'text-decoration-none' %></li></h4>
    <% end %>
  </ol>
</div>