<div class="card">
  <div class="card-header">
    <%= link_to t('texts.number_and_title', number: text.url_slug, title: text.title), text_path(text.url_slug), class: 'main-card-link' %><br />

    <% if text.has_book_number? %>
        <%= t('books.book_number_brackets', book_number: text.roman_book_number) %>
      <% end %>

    <%= t('texts.kgw_numbers_long', notebook_number: text.kgw_notebook_number, text_number: text.kgw_text_number) %>
  </div>

  <div class="card-body">
    <%= text.text %>
  </div>
</div>