<div class="card">
  <div class="card-header">
    <%= link_to nietzsche_number_and_title_string(text), text_path(text.url_slug), class: 'text-headline' %><br />

    <% if text.has_book_number? %>
        <%= t('books.book_number_brackets', book_number: text.roman_book_number) %>
      <% end %>

    <%= kgw_numbers_string(text) %>
  </div>

  <div class="card-header">
    <%= text.text %>
  </div>
</div>