<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to sanitize(t('editions.title_and_editor', title: current.edition.title, editor: current.editor.username)), edition_path(current.edition) %>
    </li>

    <% if current.instance_of?(Book) %>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('books.number_and_title', number: current.position, title: current.title) %>
      </li>
    <% else %>
      <li class="breadcrumb-item">
        <%= link_to sanitize(t('books.number_and_title', number: current.book.position, title: current.book.title)), edition_book_path(current.book.edition, current.book.position) %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('chapters.number_and_title', number: current.position, title: current.title) %>
      </li>
    <% end %>

  </ol>
</nav>