<% link_nietzsche_number = true if local_assigns[:link_nietzsche_number].nil? %>

<div class="row">
  <div class="col">
    Nietzsche's Number<br />
    <% if link_nietzsche_number %>
      <%= link_to text.nietzsche_number, text_path(text.url_slug), class: 'fw-bold' %>
    <% else %>
      <span class="fw-bold"><%= text.nietzsche_number %></span>
    <% end %>
  </div>
  <div class="col">
    <%= kgw_numbers_string(text) %>
  </div>
  <div class="col">
    Nietzsche's Placement<br />
    <!-- TODO: This needs to link to something appropriate. The texts filtered by book number? -->
    <%= text.has_book_number? ? link_to(t('books.heading', book_number: text.book_number), text_path(text.url_slug), class: 'fw-bold') : 'N/A' %>
  </div>
</div>